<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<script type="module">
	import {
		PageHelper
	} from "{{ site.baseurl }}/dist/bundle.min.es.js";
	const pageHelper = new PageHelper({ debug: false, scripts_outof_body_patterns: [/lunr\.min\.js/, /just-the-docs\.js/] });
	console.log(pageHelper.listBuiltins());
	pageHelper.enrich();
</script>

<!-- <script>
	window.addEventListener('DOMContentLoaded', () => {
		document.querySelector('.nav-list-expander').click();
	})
</script> -->