<link
  rel="stylesheet"
  href="{{ '/assets/css/custom.css' | relative_url }}"
/>

{% assign bundleHash = site.data.file_hashes.bundle_es %}
<script
  type="module"
  ph-not-execute-me
>
  import { PageHelper } from "{{ site.baseurl }}/forever/bundle.min.es.hashed.{{ bundleHash }}.js";
  const pageHelper = new PageHelper({
    debug: true,
    demo_mode: true,
  });
  pageHelper.enrich();

  window.addEventListener("pjaxPageLoaded", (e) => {
    var domContentLoadedEvent = new Event("DOMContentLoaded", {
      bubbles: true,
      cancelable: true,
    });
    document.dispatchEvent(domContentLoadedEvent);
  });
</script>
