<link
  rel="stylesheet"
  href="{{ '/assets/css/custom.css' | relative_url }}"
/>

{% assign phHash = site.data.file_hashes.ph %} {% assign cmHash =
site.data.file_hashes.cm %} {% raw %}
<script>
  const ___f__1 = (PageHelper, Cm6Enricher, makecm6) => {
    const pageHelper = new PageHelper({
      debug: true,
      demo_mode: true,
      alpine_before_start: function (Alpine) {
        Alpine.data("demos", () => ({
          loadalldemos: {
            ["@click.prevent"]() {
              const qs = new URLSearchParams(window.location.search);
              qs.delete("id");
              fetch("https://lets-script.com/devtools/pagehelpers" + '?' + qs.toString())
                .then((res) => res.json())
                .then((j) => {
                  Alpine.store("demos").all = [
                    ...j.data,
                    Alpine.store("demos").currentItem,
                  ];
                  history.pushState({}, "", window.location.pathname);
                  this.$data.showLoadAll = false
                });
            },
          },
          initdemo: {
            ["x-init"]() {
              const qs = new URLSearchParams(window.location.search);
              if (qs.has("id")) {
                this.$data.showLoadAll = true;
              }
              console.log(
                "current store:",
                JSON.stringify(Alpine.store("demos").currentItem)
              );
              if (Alpine.store("demos").currentItem.id) {
                Alpine.nextTick(() => {
                  const ce = new CustomEvent("demo-change", {});
                  window.dispatchEvent(ce);
                });
                return;
              }
              const id = qs.get("id");
              let search = window.location.search;
              fetch("https://lets-script.com/devtools/pagehelpers" + search)
                .then((res) => res.json())
                .then((j) => {
                  if (Array.isArray(j.data)) {
                    return j.data;
                  } else {
                    return [j.data];
                  }
                })
                .then((items) => {
                  Alpine.store("demos").all = items;
                  const id = qs.get("id");
                  this.$data.loading = 'Please select a demo.';
                  if (id) {
                    Alpine.store("demos").setCurrentItem(id);
                    Alpine.nextTick(() => {
                      const ce = new CustomEvent("demo-change", {});
                      window.dispatchEvent(ce);
                    });
                  }
                });
            },
          },
        }));
        Alpine.store("demos", {
          init() {
            this.all = [];
          },
          all: [],
          currentItem: {},
          setCurrentItem(id) {
            console.log("id to set", id);
            const found = this.find(id);
            console.log("found", found);
            this.currentItem = JSON.parse(JSON.stringify(found));
          },
          find(id) {
            return this.all.find((demo) => {
              return demo.id + "" === id;
            });
          },
          currentLink(demoname) {
            const qs = new URLSearchParams();
            if (demoname) {
              this.currentItem.name = demoname;
            }
            if (!this.currentItem.name) {
              this.currentItem.name = "A Pagehelper Demo";
            }
            if (!this.currentItem.id) {
              this.currentItem.id =
                Math.floor(Math.random() * 1000000) + 1000000;
            }
            qs.set("item", JSON.stringify(this.currentItem));
            return `${window.location.origin}${
              window.location.pathname
            }?${qs.toString()}`;
          },
          copyCurrentLink(demoname) {
            navigator.clipboard.writeText(this.currentLink(demoname));
          },
        });
      },
    });

    pageHelper.add(new Cm6Enricher({ makecm6 }));

    pageHelper.enrich();
    window.pageHelper = pageHelper;

    window.addEventListener("pjaxPageLoaded", (e) => {
      var domContentLoadedEvent = new Event("DOMContentLoaded", {
        bubbles: true,
        cancelable: true,
      });
      document.dispatchEvent(domContentLoadedEvent);
    });
  };
</script>
{% endraw %}
<script
  type="module"
  ph-not-execute-me
>
  import {
    PageHelper,
    Cm6Enricher,
  } from "{{ site.baseurl }}/forever/ph-{{ phHash }}.js";
  import makecm6 from "{{ site.baseurl }}/forever/cm-{{ cmHash }}.js";
  ___f__1(PageHelper, Cm6Enricher, makecm6);
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8EWSPQX3BX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8EWSPQX3BX');
</script>
